body {
	margin: 0px;
	color: #000;
}

header {
	background-color: #003366;
	color: white;
	text-align: center;
	padding: 35px;
	font-size: 30px;
}

#header-editor {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background-color: #003366;
	color: white;
	text-align: center;
	padding: 35px;
	opacity: 0;
	z-index: -1000;
	-webkit-transition: opacity 1s ease, z-index 0.1s ease;
}

article {
	position: relative;
	width: 95%;
	margin: auto;
}

h2 {
	margin: auto;
	padding: 40px;
	font-size: 50px;
	text-align: center;
	color: #003366;
}

textarea:focus, input:focus{
    outline: none;
}

input {
	background-color: #89CDD6;
	color: black;
	border: none;
	margin: -20px auto 0px;
	border-bottom: 2px dashed #FFF;
	text-align: center;
	-webkit-transition: color 0.4s ease;
}

#new-game-name {
	margin-top: 20px;
	background-color: #003366;
}

#cancel-game-name, #save-game-name {
	width: 100px;
	height: 60px;
	text-align: center;
	display: inline-block; 
	margin: 10px 50px;
	border-radius: 10%;
}

#cancel-game-name p, #save-game-name p {
	margin-top: 12px;
}

#cancel-game-name {
	background-color: grey;
}

#save-game-name {
	background-color: #89CDD6;
}

.contender {
	/*border: 1px dashed #000;*/
	width: 46%;
	margin-top: 20px;
	margin: auto;
	display: inline-block;
	padding: 0px 2%;
}

.name {
	margin: auto;
}

.font-awesome-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 1s ease;
}

.graph-container {
	height: 400px;
	position: relative;
}

.graph {
	width: 100%;
	height: 100%;
	background-color: red;
	border-radius: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: height 0.8s ease;
}

.score {

}

#addPlayer {
	position: absolute;
	top: -40px;
	right: 2%;
	width: 200px;
	height: 40px;
	background-color: #89CDD6;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease;
}

#addPlayer p {
	color: white;
	font-size: 26px;
	padding: 0px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

#playerDetails {
	position: absolute;
	top: 5%;
	left: 5%;
	opacity: 0;
	width: 90%;
	height: 600px;
	background-color: #89CDD6;
	z-index: -1000;
	display:block;
	-webkit-transition: opacity 1s ease, z-index 0.1s ease;
}

#playerForm {
	margin: auto;
	color: #FFF;
	text-align: center;
}

.colour-div {
	width: 50px;
	height: 50px;
	margin: 4px;
	border-radius: 100%;
	vertical-align: bottom;
	display: inline-block;
	-webkit-transition: border-radius 0.4s ease;
}

.show {
	opacity: 1 !important;
	z-index: 1000 !important;
	-webkit-transition: opacity 1s ease;
}

#save-player {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #90EE90;
}