<html>
	<head>
		<title id="page-title">Keep Score</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://use.fontawesome.com/f39cd67010.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>

	<!-- Setup Angular App called 'myApp' for Header section -->
	<body ng-app="myApp">
		<header id="header">
			<i class="fa fa-pencil font-awesome-icon" aria-hidden="true" id="edit-header"></i>
			<div id="header-editor">
					  <input id="new-game-name" type="text" name="firstname" style="font-size: 50px; color: #FFF"></br>
					  <div id="save-game-name"><p>Save</p></div><div id="cancel-game-name"><p>Cancel</p></div>
			</div>
			<h1 id="game-name">Name Your Game</h1>
		</header>


		<!-- Setup Angular App called 'MainController' for Header section -->
		<article ng-controller="MainController">
			<div id="addPlayer" ng-click="addPlayer()" class="player-button"><p>Add Player</p></div>
			<div id="removePlayer" ng-click="removePlayer()" class="player-button"><p>Remove Player</p></div>

			<!-- Create view for adding players -->
			<div id="playerDetails" class="player-info">
				<div id="playerForm">
					  <h2>Name:</h2><br>
					  <input id="player-name" type="text" name="firstname" style="font-size: 50px" ng-style="{'color': currentColour}"><br>
					  <h2>Colour:</h2><br>

					  <div class="colour-div" ng-repeat="colour in colours" ng-style="{'background-color': colour}" ng-click="selectColour($index)">
					  	
					  </div>

					  <div id="save-player" ng-click="savePlayer()"><h2>Save</h2></div>
				</div>
			</div>

			<!-- Create view for removing players -->
			<div id="player-list" class="player-info">
				<div id="players-container">
					  <h2>Select Player To Remove:</h2>

					  <div class="player-list-item" ng-repeat="player in players">
					  	<p class="remove-player-name" ng-click="selectPlayerToRemove($index)">{{ player.name}}</p>
					  </div>

					  <div id="save-player" ng-click="saveRemoval()"><h2>Save</h2></div>
				</div>
			</div>

			<!-- For each Player in the players list, display their name, score, graph and link to app functions -->
			<div class="contender" ng-repeat="player in players" ng-style="{'width': playerWidth}">

				<div class="name">
					<h2>{{ player.name }}</h2>
				</div>

				<div class="graph-container" ng-click="plusOne($index)">
					<div class="graph" ng-style="{
					'background-color': player.color, 
					'height': player.height}">
					</div>
				</div>

				<div class="score" ng-click="minusOne($index)">
					<h2>{{ player.score }}</h2>
				</div>
			</div>

		</article>

    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>

	</body>
</html>